<nav class="navbar navbar-expand-lg navbar-light bg-secondary">
	<div class="container-fluid">

	  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
		<div class="navbar-nav">
		  <a class="nav-link" routerLink="inicio" routerLinkActive="active">Mi Banco</a>
		  <a class="nav-link" routerLink="transferencias" routerLinkActive="active">Transferencias</a>
		  <a class="nav-link" routerLink="registrar" routerLinkActive="active">Nuevo Destinatario</a>
		  <a class="nav-link" routerLink="historial" routerLinkActive="active">Historial</a>

		</div>
	  </div>
	</div>
  </nav>
