
<div class="container mt-4 mb-5">
	<!-- Content here -->
	<table class="table table-hover">
		<thead>
		  <tr>
			<th scope="col">#</th>
			<th scope="col">Nombre</th>
			<th scope="col">Fecha</th>
			<th scope="col">Banco</th>
			<th scope="col">Monto</th>

		  </tr>
		</thead>
		<tbody>
		  <tr *ngFor="let hist of historial.historial; index as i">
			<th scope="row">{{i}}</th>
			<td>{{hist.nombre}}</td>
			<td>{{hist.fecha}}</td>
			<td>{{hist.banco}}</td>
			<td>{{hist.monto | currency : 'CLP' }}</td>
		  </tr>
		</tbody>
	  </table>

</div>

