
<div class="container">
	<!-- Content here -->
	<table class="table table-hover">
		<thead>
		  <tr>
			<th scope="col">#</th>
			<th scope="col">Nombre</th>
			<th scope="col">Fecha</th>
			<th scope="col">Banco</th>
			<th scope="col">Monto</th>

		  </tr>
		</thead>
		<tbody>
		  <tr *ngFor="let hist of historial; let i = index">
			<th scope="row">{{i}}</th>
			<td>{{hist.nombre}}</td>
			<td>{{hist.fecha}}</td>
			<td>{{hist.banco}}</td>
			<td>{{hist.monto | currency: 'CLP'}}</td>
		  </tr>
		</tbody>
	  </table>
</div>

